<form class="form-horizontal">
    <div class="form-group">
        <label for="inputId" class="control-label col-xs-2">Order#</label>
        <div class="col-xs-3">
            <p class="form-control-static">{{model.id}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTime" class="control-label col-xs-2">Time</label>
        <div class="col-xs-3">
            <p class="form-control-static">{{model.time}}</p>
        </div>
    </div>
</form>