<form class="form-horizontal">
    <div class="form-group">
        <label for="inputId" class="control-label col-xs-2">Table#</label>
        <div class="col-xs-5">
            <p class="form-control-static">{{model.id}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTotal" class="control-label col-xs-2">Total</label>
        <div class="col-xs-5">
            <p class="form-control-static">{{model.total}}</p>
        </div>
    </div>
</form>