<div style="margin: 20px">
    <h3>My-Order</h3>
    <ul class="nav nav-tabs">
        <li>{{#link-to 'categories'}}Menu{{/link-to}}</li>
        <li>{{#link-to 'tables'}}Tables{{/link-to}}</li>
        <li>{{#link-to 'orders'}}Orders{{/link-to}}</li>
    </ul>
    {{outlet}}
</div>