<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active">
  	{{#link-to 'categories'}}Categories{{/link-to}}
  	<a href="#">Menu</a></li>
  <li role="presentation"><a href="#">Tables</a></li>
  <li role="presentation"><a href="#">Orders</a></li>
</ul>