<ul class="nav nav-pills nav-stacked">
  <li role="presentation">
 	{{#link-to 'menu'}}Menu{{/link-to}}
  </li>
  	<li role="presentation">
 	{{#link-to 'tables'}}Tables{{/link-to}}
 	</li>
  <li role="presentation">
 	{{#link-to 'orders'}}Orders{{/link-to}}
  </li>
</ul>